PORT="8080"
PG_URI="user=docker password=docker host=localhost port=5432 dbname=docker sslmode=disable options='-c client_encoding=UTF8'"
JWT_KEY="123"
AWS_REGION="us-east-1"
AWS_ENDPOINT="http://localhost:4566"
QUEUE="charge-friends-queue"